<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Álbum</title>
</head>
<body>
    <h1>Editar Álbum</h1>
    <form action="{{ url_for('ActualizarAlbum', id=album[0]) }}" method="post">
        <label>Título:</label>
        <input type="text" name="txtTitulo" value="{{ album[1] }}" required>
        
        <label>Artista:</label>
        <input type="text" name="txtArtista" value="{{ album[2] }}" required>
        
        <label>Año:</label>
        <input type="number" name="txtAnio" value="{{ album[3] }}" required>
        
        <button type="submit">Actualizar Álbum</button>
    </form>
</body>
</html>
